<!-- <h1>Welcome to {{hotelName}}</h1> -->
<hinv-header></hinv-header>
<!-- <hinv-header></hinv-header>
<hinv-header></hinv-header> -->
<!-- {{rooms$ | async | json}} -->
<div [hidden]="hideRooms">
    Number of rooms :
    <div 
        [ngStyle] ="{'color': rooms.availableRooms ? 'steelblue' : 'red'}" 
        [innerText]="numberOfRooms">
    </div>
</div>
<router-outlet></router-outlet>
<!-- {{ rooms?.availableRooms ?? 'No rooms'}} -->

<!-- {{roomList | json}} -->


<div *ngIf="rooms$ | async as rooms">
    <hinv-rooms-list [rooms]="rooms"
                    [title]="title"
    (selectedRoom)="selectRoom($event)"></hinv-rooms-list>
    
</div>

<div *ngIf="selectedRoom">
    {{selectedRoom | json}}
</div>

<div>
    <button routerLink="add">Add Room</button>
</div>
<h1>
    {{getError$ | async}}
    Number of rooms {{roomsCount$ | async}}
</h1>

<div>
    <button (click)="editRoom()">Edit</button>
</div>

<div>
    <button (click)="deleteRoom()">Delete</button>
</div>

<button (click)="toggle()">Toggle</button>

<h1>
    {{totalBytes}} loaded
</h1>

